name: master

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      CONFIGURATION: Release

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Install dependencies
      run: |
        dotnet restore
        dotnet tool restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build

    - name: Generate DocFX metadata
      run: |
        dotnet fsi gen-docfx.fsx Release
        dotnet docfx build docs/docfx.json

    - name: Pack
      run: dotnet pack --no-restore --no-build -o ./packages

    - name: Publish packages
      if: (github.ref == 'refs/heads/main')
      run: dotnet nuget push ${{ github.workspace }}/packages/**/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Deploy to GitHub Pages
      if: (github.ref == 'refs/heads/main')
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
